#features {
    margin-top: 20px;
}
.feature,
.feature span span,
.feature h3,
.feature .title_border {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.feature {
    text-align: center;
    padding: 20px;
}
.feature p {
    margin-top: 20px;
    margin-bottom: 30px;
}
.feature span span {
    font-size: 80px;
    color: #ffffff;
    background: #003e6f;
    padding: 17px;
    border-radius: 50%;
    border: solid 3px #003e6f;
    height: 120px;
    width: 120px;
}
.feature h3 {
    color: #003e6f;
    margin-top: 20px;
}
.feature:hover {
    background: #f5f5f5;
    -webkit-transform: translate(0, 1em);
    -moz-transform: translate(0, 1em);
    -o-transform: translate(0, 1em);
    -ms-transform: translate(0, 1em);
    transform: translate(0, 1em);
}
.feature:hover span span {
    border-color: #003e6f;
    background: #003e6f;
}
.feature:hover .title_border {
    background-color: #e9292f;
    width: 50%;
}
.feature .title_border {
    width: 0%;
    height: 3px;
    background: #003e6f;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 8px;
}
