@font-face {
	src: url('../fonts/Cairo-Regular.ttf');
	font-family: cairo regular;
}
@font-face {
	src: url('../fonts/Cairo-Bold.ttf');
	font-family: cairo bold;
}
.mcb-h1 {
	font-size: 54px !important;
}
.mcb-h2 {
	font-size: 40px !important;
}
.mcb-h3 {
	font-size: 30px !important;
}
.mcb-h4 {
	/* font-size: 25px !important; */
	font-size: 22px !important;
}
.mcb-h5 {
	font-size: 18px !important;
}
.mcb-h6 {
	font-size: 16px !important;
}
.m-blue {
	color: #29698f;
}
.mb-blue {
	background-color: #29698f;
}
.m-dark {
	color: #646464;
}
.mb-dark {
	background-color: #646464;
}
.m-orange {
	color: #f7a034;
}
.mb-orange {
	background-color: #f7a034;
}
.mcb-bold {
	font-family: cairo bold;
}
.mcb-regular {
	font-family: cairo regualar;
}
.mcb-trans {
	transition: all.5s ease;
}
.section-bg-grey {
	background-color: #f8f8fb;
}
.section-bg-white {
	background-color: #fff;
}
.p-14 {
	font-size: 14px;
}
.mcb-ul {
	display: table;
	width: 100%;
}
.mcb-ul li {
	display: table-cell;
	width: 1%;
}
.section-padtop-15 {
	padding-top: 15px !important;
}
.section-padbottom-15 {
	padding-bottom: 15px !important;
}
.section-padtop-30 {
	padding-top: 30px !important;
}
.section-padbottom-30 {
	padding-bottom: 30px !important;
}
.section-padtop-50 {
	padding-top: 50px !important;
}
.section-padbottom-50 {
	padding-bottom: 50px !important;
}
.section-padtop-70 {
	padding-top: 70px !important;
}
.section-padbottom-70 {
	padding-bottom: 70px !important;
}
.section-margtop-50 {
	margin-top: 50px !important;
}
.section-margbottom-50 {
	margin-bottom: 50px !important;
}
* a:hover {
	text-decoration: none;
}
body,html {
  overflow-x: hidden !important;
  background: #fff;
}
html{
  scroll-behavior: smooth;
}
body .navbar-collapse {
	line-height: 2.5 !important;
}
h1,h2,h3,h4,h5,h6 {
	font-family: cairo bold;
	color: #29698f;
}
p {
	font-family: cairo regular;
	color: #646464;
}
body ul {
	margin: 0 !important;
	padding: 0 !important;
}
body ul li {
	list-style: none;
	font-family: cairo regular;
}
.mcb-container {
	width: 80%;
	margin: 0 auto;
}
.mcb-btn {
	font-family: cairo bold;
	color: #29698f !important;
	border-radius: 5px !important;
	padding: 10px 18px !important;
	font-size: 14px;
	background-color: transparent;
	border: 1px solid #f7a034;
}
.mcb-btn:hover {
	text-decoration: none !important;
	background-color: #29698f;
	color: #fff !important;
	border: 1px solid #29698f;
}
.mcb-btn:focus {
	box-shadow: none;
	outline: 0 !important;
}
.mcb-btn-orange {
	color: #fff !important;
	background-color: #f7a034;
	border: 1px solid #f7a034;
}
.mcb-btn-orange:hover {
	color: #fff !important;
	background-color: #29698f;
	border: 1px solid #29698f;
}
.mcb-btn-blue {
	color: #fff !important;
	background-color: #29698f;
	border: 1px solid #29698f;
}
.mcb-btn-blue:hover {
	color: #fff !important;
	background-color: #f7a034;
	border: 1px solid #f7a034;
}
header {
	border-top: 3px solid #29698f;
	box-shadow: 0px 0px 10px 0px rgba(227,227,226,1);
	background-color: #fff;
}
.topbar ul li a {
	font-family: cairo bold;
}
.topbar ul {
	border-right: 1px solid #dbdbdb;
}
.navbar {
	padding: 0 !important;
}
ul.top-nav {
	padding-right: 40px;
	margin-right: 40px;
}
.topbar input {
	border: none;
	font-family: cairo regular;
	border-radius: 0 !important;
	text-transform: uppercase;
	color: #646464 !important;
	font-size: 14px;
	width: 65px !important;
	margin: 0 !important;
	padding: 0 !important;
}
.topbar input:focus {
	width: 200px !important;
}
.topbar .form-control:focus {
	border-color: none;
	box-shadow: none;
}
.topbar i {
	color: #29698f;
	margin-right: 20px;
}
.topbar button:hover, .request button:hover {
	background-color: #29698f;
}
/* .menu {
	border-top: 1px solid #dbdbdb;
} */
.menu ul li a {
	text-transform: uppercase;
	font-family: cairo regular;
	font-size: 14px;
	letter-spacing: 1px;
	color: #646464 !important;
}
.menu ul li {
	padding: 0 15px;
}
.menu ul li.active a {
	color: #29698f !important;
	font-family: cairo bold;
}
.request {
	height: 86px;
	line-height: 86px;
	box-shadow: 0px 0px 10px 5px rgba(215,215,215,1);
	margin-bottom: 10px;
}
.product-link button {
	background-color: #29698f;
	font-family: cairo bold;
	font-size: 14px;
	padding: 10px 30px;
	transition: all.5s ease;
}
.product-link button:hover {
	background-color: #f7a034;
}
.bearings {
	padding: 30px 0 20px;
}
.parts {
	padding: 30px;
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
    border: 1px solid #fff;
    margin-bottom: 30px;
    transition: all.5s ease;
}
.auto, .bearing-img {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.bearing-img {
	align-items: flex-end;
	margin-top: 5px !important;
	transition: ease-in .3s;
}
.bearing-img i {
	color: #29698f;
}
.auto ul li {
	display: inline-block;
	margin-left: 5px;
}
.parts:hover {
	border: 1px solid #29698f;
	
}

.parts:hover .bearing-img-fill svg path {
	fill: #29698f !important;
	transition: ease-in .3s;
}
.parts:hover .bearing-img-fill svg path {
	fill: #29698f !important;
	stroke: #29698f !important;
	transition: ease-in .3s;
}

.parts:hover .bearing-img-outline svg path {
	stroke: #29698f !important;
	transition: ease-in .3s;
}
.parts:hover .bearing-img-outline svg circle {
	stroke: #29698f !important;
	transition: ease-in .3s;
}


.quality {
	padding: 30px 50px;
}
.services {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.quality-head {
	display: flex;
	align-items: center;
}
.service-1 {
	background-image: url('../assets/img/q-1.png');
}
.service-2 {
	background-image: url('../assets/img/q-2.png');
}
.service-3 {
	background-image: url('../assets/img/q-3.png');
}
.service-1, .service-2, .service-3 {
	width: 100px;
	height: 100px;
	border: 1px solid #fff;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	transition: all.9s ease;
	background-size: 40%;
}
.service-1:hover, .service-2:hover, .service-3:hover {
	transform: rotateY(180deg);
}
.exp {
	padding: 50px 50px;
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
    border: 2px solid #fff;
    transition: all.5s ease;
    height: 540px;
    border: 1px solid #fff;
	cursor: pointer;
	transition: all.5s ease;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.exp:hover {
	border: 1px solid #f7a034;
}
.exp-content {
	margin-bottom: 40px;
}
.exp-content:last-child {
	margin-bottom: 0 !important;
}
.exp-content p {
	font-size: 14px;
	width: 85%;
}
.connect {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}
.connect img {
	width: 60%;
}
.connect a:hover, .global-content button:hover, .home-banner-text a:hover {
	border-color: #29698f !important;
}
.exp-content ul {
	padding: 0px 18px !important;
}
.exp-content ul li {
	font-size: 14px;
	list-style-type: inherit;
	color: #646464;
}
/* .connect-marg {
	margin-top: 130px;
} */
.no-border {
	border: 0;
}
.inner-content h1 {
	line-height: 30px;
}
.inner-content p {
	line-height: 15px;
}
.inner-data {
	padding: 0 15px;
	cursor: pointer;
}

.inner-data img {
	height: 60px;
}
.brand-border {
	border-right: 1px solid #29698f;
}
.brands-ul li {
	text-align: center;
}
.brands img {
	height: 50px;
}
.quote {
	background: #013352;
	background: -moz-linear-gradient(top,  #013352 0%, #043b5b 21%, #073d5e 23%, #053d5e 25%, #084061 28%, #0b4668 40%, #0e496c 43%, #104e73 54%, #135276 57%, #1b5f87 79%, #1a5d86 80%, #1c6088 81%, #1e628c 88%, #1e6691 100%);
	background: -webkit-linear-gradient(top,  #013352 0%,#043b5b 21%,#073d5e 23%,#053d5e 25%,#084061 28%,#0b4668 40%,#0e496c 43%,#104e73 54%,#135276 57%,#1b5f87 79%,#1a5d86 80%,#1c6088 81%,#1e628c 88%,#1e6691 100%);
	background: linear-gradient(to bottom,  #013352 0%,#043b5b 21%,#073d5e 23%,#053d5e 25%,#084061 28%,#0b4668 40%,#0e496c 43%,#104e73 54%,#135276 57%,#1b5f87 79%,#1a5d86 80%,#1c6088 81%,#1e628c 88%,#1e6691 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013352', endColorstr='#1e6691',GradientType=0 );
}
.quote-content p {
	font-size: 26px;
	margin: 0;
}
.quote-content a:hover {
	text-decoration: underline;
	color: #fff;
}
.quote-link button:hover {
	background-color: #29698f;
}
.global-content {
	
}
.global-content {
	padding: 50px;
	padding-left:10%;
    background-color: rgba(255, 255, 255, 1);
    /*height: 380px;*/
    box-sizing: border-box;
    position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
}
/*.global-content button {*/
/*	color: #fff !important;*/
/*}*/
.contact-details {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.contact-details ul li {
	color: #f7a034;
	font-size: 14px;
}
.numbers {
	width: 200px;
}
.numbers ul li {
	display: flex;
	justify-content: flex-start;
}
.numbers ul li span{
	text-align: left;
}
.numbers ul li span.social-contact {
	width: 80px;
}
.map-contact {
	position: relative;
}

.subscribe {
	color: #fff !important;
}
.subscribe-head p {
	color: #fff;
	margin: 0;
}
.newsletter {
	position: relative;
}
.newsletter input {
	width: 90%;
	margin-top: 10px;
	padding: 10px 0;
	padding-left: 15px;
	color: #fff !important;
	font-size: 14px;
	font-family: cairo regular;
	background-color: #f7a034;
	border-radius: 5px;
	border: 1px solid #fff;
}
.newsletter input:focus {
	outline: none !important;
}
.newsletter input::placeholder {
	color: #fff;
}
.sub-icon {
	position: absolute;
	top: 20px;
	right: 65px;
}
.footer {
	border-right: 1px solid #c7c7c9;
}
.foot-1 h5 {
	margin-bottom: 15px;
}
.foot-1 ul li {
	margin-bottom: 10px;
}
.foot-1 ul li a {
	color: #646464;
}
.foot-1 ul li a:hover {
	text-decoration: none;
	color: #f7a034;
}
.foot-end {
	background-color: #ebebeb;
}
.foot-logo img {
	width: 100%;
}
.corner p {
	margin-bottom: 0 !important;
	font-size: 14px;
}
.corner ul li {
	display: inline-block;
	color: #646464;
}
.corner ul li a {
	font-size: 14px;
	color: #646464;
	transition: all.5s ease;
}
.corner ul li a:hover {
	color: #f7a034;
}
.foot-links {
	text-align: right;
}
.foot-links ul li {
	display: inline-block;
}
.foot-links ul li a {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #646464;
	color: #646464;
	transition: all.5s ease;
}
.foot-links ul li a:hover {
	background-color: #29698f;
	color: #fff;
	border: 1px solid #29698f;
}
.foot-links p {
	font-size: 14px;
	margin-top: 10px;
}
#map {
	width: 100%;
	height: 400px;
}
.dropdown-menu {
	top: 96% !important;
	padding: 0 !important;
}
.dropdown-item {
	padding: 5px 10px !important;
}
/* Slider start */
.home-slider{
    position: relative;
}
.section-bg-banner{
  background: url('../assets/img/home-slider-bg.png') no-repeat right top;
  background-size: 60%;
  background-position: 100% 50%;
  padding: 40px 0;
}

.home-banner-text {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  z-index: 10;
  text-align: left;
  width: 90%;
  text-align: left;
}
.home-banner-text h1 {
margin-bottom: 35px;
font-size: 54px;
line-height: 1;
}
.home-banner-text h1 span {
font-size: 26px;
color: #333;
font-family: HelveticaBold;
}
.home-banner-text p {
font-size: 16px;
color: #333;
font-family: Helvetica;
}
.home-slider .carousel-inner{
  height: 500px;
  display: flex;
  align-items: center;
}
.home-slider .carousel-item img {
    width: 60%;
}
.home-slider .carousel-control-next-icon {
    background-image: url(../images/icons/next-icon.png);
}
.home-slider .carousel-control-prev-icon {
    background-image: url(../images/icons/prev-icon.png);
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  /*width: 30px;
  height: 30px;*/
  display: none;
}
.carousel-control-next, .carousel-control-prev{
  width: 5%;
  opacity: 0.7;
}
.carousel-control-next {
    right: -70px;
}
.carousel-control-prev {
    left: -70px;
}

.carousel-indicators {
  position: absolute;
  top: 50%;
  left: -95px;
  transform: translateY(-30%);
  right: auto;
  display: inline-block;
  justify-content: center;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
}

.carousel-indicators li {
  background-color: #888888;
  width: 4px;
  height: 4px;
  margin-right: 0;
  margin-left: 0;
  border: 2px solid #888888;
  border-radius: 50%;
  margin-top: 10px;
}
.carousel-indicators li.active {
  background-color: #fff;
  width: 4px;
  height: 4px;
  margin-right: 0;
  margin-left: 0;
  border: 2px solid #f7a034;
}

/*Scroller*/

.mouse {
    display: block;
    margin: 0 auto;
    width: 15px;
    height: 30px;
    border-radius: 12px;
    background-color:transparent;
    box-shadow: 0 1px 2px #ddd;
    border: 1px solid #333;
    position: absolute;
    position: absolute;
    bottom: 0;
    left: -100px;
}
.mouse__wheel {
    display: block;
    margin: 6px auto;
    width: 1px;
    height: 10px;
    border-radius: 0;
    background-color:#333;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
    position: relative;
}
@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}

.mouse__text {
  position: absolute;
  bottom: 40px;
  left: -1px;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  height: 150px;
  display: inline-block;
  color: #333;
  font-size: 11px;
  font-family: Helvetica;
}
/* Testimonial Start */
.clients {
	position: relative;
}
.clients .testimonial_subtitle{
    color: #0aaa7a;
    font-size: 12px;
}
 .clients .testimonial_btn{
    background-color: #29698f !important;
    color: #fff !important;
    padding: .375rem 1.1rem;
    transition: all.3s ease;
 }
 .clients .testimonial_btn:hover {
 	background-color: #f9a01b !important;
 }
 .clients .testimonial_btn:focus {
 	box-shadow: none;
 	outline: 0;
 }
 .clients .seprator {
    height: 2px;
    width: 56px;
    background-color: #0aaa7a;
    margin: 7px 0 10px 0;
}
.clients .controls {
	position: absolute;
	top: -45px;
	right: 10px;
}
.clients .fa-chevron-left:before, .fa-chevron-right:before {
    content: "";
}
.clients .client-review {
	padding: 60px 50px 40px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #fff;
	cursor: pointer;
	transition: all.5s ease;
}
.clients .client-review:hover {
	border: 1px solid #f7a034;
}
.client-profile {
	display: flex;
	align-items: center;
}
.client-profile img {
	margin-right: 10px;
}
.client-info {
	margin-top: 20px;
}
.client-info h5 {
	line-height: 15px;
}
.client-carousel {
	padding: 10px;
}
/********PRESS RELEASE PAGE********/
section.online-catalog {
	background-image: url('../assets/img/press-release-slider.png');
}
section.mcb-slider {
	padding: 100px 0 125px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: right;
}
section.mcb-slider h1 {
	font-size: 54px;
}
p.panel-title, .panel-body ul li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.panel {
	background-color: #fff;
	margin-bottom: 10px;
	box-shadow: 0px 0px 10px 0px rgba(215,215,215,1);
	transition: all.9s ease;
}
p.panel-title {
	margin: 0 !important;
	cursor: pointer;
	padding: 8px 10px;
}
p.panel-title a {
	color: #333333;
	font-size: 14px;
}
p.panel-title i {
	color: #f8ac4d;
	font-size: 14px;
}
p.panel-title i.minus {
	display: none;
}
.more-less {
    float: right;
    color: #212121;
}
.panel-group .active {
	background-color: #29698f;
}
.panel-group .active p.panel-title a {
	color: #fff !important;
}
.panel-group .active .panel-body ul li {
	color: #fff;
	padding: 8px 10px;
}
.panel-group .active .panel-body ul li a {
	color: #fff;
	font-size: 14px;
}
.panel-body ul li a:hover {
	text-decoration: none !important;
}
.panel-group .active p.panel-title i {
	color: #fff;
}
.panel-group .active p.panel-title i.plus {
	display: none;
}
.panel-group .active p.panel-title i.minus {
	display: block;
}
.panel-group .active p.panel-title a {
	font-weight: bold;
}
.search-catalog input {
	width: 100%;
	font-family: cairo regular;
	padding: 0 25px !important;
	box-shadow: 0px 0px 10px 0px rgba(215,215,215,1);
	height: calc(2.5em + .75rem + 2px);
	border: 0;
}
.search-catalog input:focus {
	outline: 0;
	border: 0;
	box-shadow: 0px 0px 10px 0px rgba(215,215,215,1);
}
.search-catalog {
	position: relative;
}
.catalog-icon {
	position: absolute;
	top: 15px;
	right: 20px;
}
.industrial ul li a {
	display: inline-block;
	width: 25px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 5px;
	font-size: 12px;
	margin-bottom: 5px;
}
.industrial ul li a:hover {
	background-color: #f7a034;
}
.industrial img {
	transition: all.3s ease;
}
.img-zoom {
	overflow: hidden;
}
.img-zoom:hover img {
	transform: scale(1.1);
}
.catalog-card:hover h6 {
	color: #f7a034;
}
.catalog-card {
	overflow: hidden;
	border: 1px solid #fff;
	transition: all.5s ease;
	cursor: pointer;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5)
}
.catalog-card:hover {
	border: 1px solid #29698f;
}
/**********************About-Us**********************/
.about-slider {
	background-image: url('../assets/img/about-slider.png');
}
.trusted {
	border-bottom: 1px solid #a7a7a7;
}
.trusted-content p, .founded p {
	color: #717171;
	margin-top: 20px;
}
.trusted-img {
	width: 100%;
	overflow: hidden;
}
.trusted-img img {
	width: 100%;
	transition: all.5s ease;
}
.trusted-img img:hover {
	transform: scale(1.1);
}
/**********************Blog**********************/
section.blog-slider {
	background-image: url('../assets/img/blog-slider.png');
	padding: 88px 0 !important;
}
.search-ul li:first-child {
	padding-right: 5px;
}
.blog-links ul li a{
	padding: 10px 15px;
	background-color: #fff;
	margin-bottom: 10px;
	box-shadow: 0 0 5px 0 rgba(215, 215, 215, 1.0);
	transition: all.2s ease;
}
.blog-links ul li a:hover, .blog-links ul li a:active{
	color: #fff;
	text-decoration: none;
	background-color: #29698f;
}
.my-blogs button {
	width: 140px !important;
	/* padding: 0 15px !important; */
	font-family: cairo regular;
	box-shadow: none !important;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 5px 0 0 5px;
	margin-top: -5px;
}
.my-blogs .controls {
	top: 0;
	right: 23px;
}
.my-blogs .dropdown-toggle::after {
	margin-left: 20px;
}
.my-blogs input {
	width: 200px !important;
	margin-left: -11px;
	border-radius: 0 5px 5px 0 !important;
	box-shadow: none !important;
}
.my-blogs ul li {
	display: inline-block;
}
.my-blogs ul li:nth-child(2) {
	position: relative;
}
.my-blogs ul li:nth-child(3) {
	position: absolute;
	left: 320px;
	top: 8px;
}
.blog-card {
	background-color: #fff;
	padding: 0 20px 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	margin-bottom: 50px;
	border: 1px solid #fff;
	transition: all.5s ease;
	cursor: pointer;
}
.blog-card:hover {
	border: 1px solid #29698f;
}
.blog-card img {
	width: 100%;
	margin-top: -20px;
	transition: all.5s ease;
}
.blog-card:hover img {
	transform: scale(1.1);
}
.blog-read a {
	letter-spacing: 2px;
}
.blog-read a:hover {
	text-decoration: none;
	color: #29698f;
}
/********************BRAND********************/
.brand-banner {
	background-image: url('../assets/img/brands-slider.png');
}
.skf-head {
	border-bottom: 1px solid #959595;
	padding: 0 20px;	
}
.founded-skf {
	padding: 0 20px;
}
.skf-vertical {
	border-left: 1px solid #959595;
}
/* .skf-head ul {
	display: flex;
}
.skf-head ul li {
	display: flex;
} */
.skf-box {
	display: flex;
	flex-direction: row;
}
.skf-ul {
	display: block;
	width: 100%;
}
.skf-ul li {
	display: inline-block;
	width: 49%;
	padding-right: 10px;
}
.skf-head ul li img {
	height: 50px;
	margin-right: 5px;
}
.skf-innovative p {
	font-size: 12px;
}
.solutions p {
	font-size: 12px;
	line-height: 15px;
}
.product-brand {
/* 	padding: 20px 0; */
	background-color: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	border-radius: 5px;
	border: 1px solid #fff;
	transition: all.5s ease;
	cursor: pointer;
}
.product-brand:hover {
	border: 1px solid #f7a034;
}
.product-brand ul li a i:hover {
	color: #29698f;
}
.social-brand {
	display: block;
}
.social-brand ul {
	position: absolute;
	top: 10px;
	right: 40px;
}
.social-brand ul li {
	display: inline-block;
	margin-left: 5px;
}
.product-img {
	border-bottom: 1px solid #8d8d8d;
	overflow: hidden;
}
.product-img img {
	transition: all.5s ease;
	margin-top: 10px;
}
.product-brand:hover img {
	transform: scale(1.05);
}
.truck {
	padding-left: 30px;
}
.truck h6 {
	font-size: 14px !important;
}
.truck a:hover p {
	color: #f7a034;
}
.skf-part {
	width: 100%;
}
.skf-part img {
	height: 250px;
}
.skf-brand .testimonial_btn {
	background-color: #29698f !important;
    color: #fff !important;
    padding: .375rem 1.1rem;
}
.skf-brand {
	margin-top: -10px;
}
.brand-clients .controls {
	top: 0;
	right: 23px;
}
/*********************CONTACT-US*********************/
.contact-banner {
	background-image: url('../assets/img/contact-us-banner.png');
}
section.contact-banner {
	padding: 85px 0 !important;
}
.question .contact-inputs:nth-child(1) {
	margin-right: 10px;
}
.contact-inputs input {
	font-family: cairo regular;
	background-color: transparent;
}
.contact-inputs input:focus, .contact-inputs textarea:focus {
	box-shadow: none;
	background-color: transparent;
	border: 1px solid #ced4da;
}
.enquiry input, .message-box textarea, .contact-inputs button {
	width: 75%;
	background-color: transparent;
}
.message-box textarea {
	height: 200px;
	resize: none;
}
.contact-inputs button:hover {
	border-color: #29698f;
}
.contact-info {
	padding: 20px 30px !important;
	background-color: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 5px;
}
.contact-info:hover {
	border: 1px solid #f7a034;
}
.contact-numbers {
	width: 380px;
}
.contact-page-map .global-content  {
	padding: 30px 50px;
}
/******************CORE-VALUES******************/
.core-banner {
	background-image: url('../assets/img/core-values-banner.png');
}
section.core-banner, section.current-opening-banner {
	padding: 85px 0 !important;
}
.core-img {
	overflow: hidden;
}
.core-img img {
	border-radius: 5px;
	transition: all.3s ease;
}
.core-img img:hover {
	transform: scale(1.05);
}
.core-pic-1 {
	background-image: url('../assets/img/core-pic-1.png');
}
.core-pic-2 {
	background-image: url('../assets/img/core-pic-2.png');
}
/******************CURRENT-OPENINGS******************/
.current-opening-banner {
	background-image: url('../assets/img/current-opening-banner.png');
}
.coordinator {
	padding: 30px 40px;
	background-color: #fff;
	box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	border: 1px solid #fff;
	margin-bottom: 30px;
}
.coordinator:hover {
	border-color: #29698f;
}
.coordinator p {
	line-height: 25px;
}
.coordinator a {
	letter-spacing: 2px;
}
.coordinator a:hover {
	color: #f7a034;
}
section.marketing {
	padding-bottom: 20px;
}
/********************INFRASTRUCTURE********************/
.infrastructure-banner {
	background-image: url('../assets/img/infrastructure-banner.png');
}
.facility-content p {
	margin: 0;
}
.extensive {
	background-color: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	padding: 30px;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 5px;
	height: 470px;
	box-sizing: border-box;
}
.extensive-img img {
	height: 150px;
}
.extensive:hover {
	border: 1px solid #f7a034;
}
.extensive-content {
	margin-top: 20px;
}
/********************LEADERSHIP********************/
.leadership-banner {
	background-image: url('../assets/img/leadership-banner.png');
}
section.leadership-banner {
	padding: 85px 0;
}
.leader-one {
	padding: 30px 40px 0;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	border: 1px solid #fff;
	cursor: pointer;
	transition: all.5s ease;
	height: 100%;
}
.leader-one:hover {
	border: 1px solid #f7a034;
}
.leader-img {
	width: 100%;
}
.leader-img img {
	height: 150px;
}
/********************MILESTONE********************/
.milestones-banner {
	background-image: url('../assets/img/milestone-banner.png');
}
.milestone-data img {
	width: 80%;
}
/********************Our-Team********************/
.team-banner {
	background-image: url('../assets/img/team.png');
}
section.team-banner {
	padding: 70px 0;
}
.team-members {
	padding-bottom: 20px;
}
.member {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	padding: 30px 0;
	border: 1px solid #fff;
	cursor: pointer;
	margin-bottom: 30px;
}
.member:hover {
	border: 1px solid #29698f;
}
.member-pic {
	width: 100%;
	border-bottom: 1px solid #646464;
}
.member-pic img {
	height: 200px;
}
.member-content {
	padding: 30px 20px 0;
}
/********************The-Goal********************/
.the-goal-banner {
	background-image: url('../assets/img/the-goal.png');
}
section.the-goal-banner {
	padding: 55px 0;
}
/********************Products********************/
.products-banner {
	background-image: url('../assets/img/products-banner.png');
}
section.products-banner {
	padding: 75px 0;
}
.products-links ul li a {
	font-size: 12px;
}
.products-links svg {
	transform: scale(0.5);
}
.products-links ul  {
	height: 50px;
}
.products-links:hover svg {
	stroke: #fff;
}
.product-wheel {
	padding: 20px;
}
.auto-bearings .product-brand {
	margin-bottom: 30px;
}
.automotive-products {
	padding-bottom: 20px;
}
.svg-span {
	width: 50px;
	height: 50px;
}
.svg-span svg {
	width: 100%;
	height: 100%;
}

/*product-section*/
/*Driving Courses Nav*/
.pn-ProductNav {
  padding: 0 !important;
  z-index: 199;
  width: 100%;
}

.pn-ProductNav_Contents {
  text-align: left;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

.pn-ProductNav_Link {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  display: block;
  align-items: center;
  position: relative;
  padding: 10px 15px;
  text-transform: capitalize;
  margin-bottom: 10px;
  background: #fff;
  box-shadow: 0 0 10px #dedede;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: ease-in .2s;
  font-family: cairo regular;
}
.pn-ProductNav_Link:after{
    content: '\f30b';
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    right: 20px;
    color: #f8ac4d;
    font-weight: 600;
    transition: ease-in .2s;

  }
  .pn-ProductNav_Link:hover:after{
    content: '\f30b';
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    right: 20px;
    color: #fff;
    font-weight: 600;
    transition: ease-in .2s;
  }
  .pn-ProductNav_Link:hover{
    transition: ease-in .2s;
    text-decoration: none;
    color: #fff;
    border: 1px solid #29698f;
    background-color: #29698f;
  }
  .pn-ProductNav_Contents span.active .pn-ProductNav_Link {
    text-decoration: none;
    color: #fff;
    background-color: #29698f;
    border: 1px solid transparent;
  }
  .pn-ProductNav_Contents span.active .pn-ProductNav_Link:after {
    color: #fff;
  }
  .svg-ico-nav{
    margin-right: 15px;
    display: inline-block;
    width: 50px;
    text-align: center;
    overflow: hidden;
    float: left;
    height: 35px;
    position: relative;
    top: -4px;
  }
  .svg-ico-nav svg{
    height: 85%;
    width: auto;
    fill: #EA2732;
  }
  .svg-ico-nav svg path{
    fill: #fff;
    stroke: #f8ac4d;
    stroke-width:1.5;
  }
  .pn-ProductNav_Link:hover .svg-ico-nav svg path {
  	fill: #29698f;
    stroke: #fff;
  }
  .pn-ProductNav_Contents span.active .svg-ico-nav svg path{
    fill: #fff;
    stroke: #fff;
    stroke-width:0;
  }
  /*MODAL*/
  .modal-header {
  	border-bottom: 0;
  }
  .modal-body .contact-inputs button {
  	width: 100% !important;
  }
  .modal-body .contact-inputs textarea {
  	resize: none;
  }