/*! perfect-scrollbar - v0.4.11
* http://noraesae.github.com/perfect-scrollbar/
* Copyright (c) 2014 Hyeonje Alex Jun; Licensed MIT
*
* Edited by Rik de Vos (www.rikdevos.com)
* 
*/

.ps-container .ps-scrollbar-x-rail {
    position: absolute; /* please don't change 'position' */
    z-index: 20;
    bottom: 0px; /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    background: rgba(255,255,255,.25);
}

.ps-container:hover .ps-scrollbar-x-rail,
.ps-container.hover .ps-scrollbar-x-rail {
    opacity: 1;
    filter: alpha(opacity = 100);
}

.ps-container .ps-scrollbar-x-rail:hover,
.ps-container .ps-scrollbar-x-rail.hover {
    background-color: rgba(255,255,255,.25);
    opacity: 1;
    filter: alpha(opacity = 100);
}

.ps-container .ps-scrollbar-x-rail.in-scrolling {
    background-color: rgba(255,255,255,.25);
    opacity: 1;
    filter: alpha(opacity = 100);
}

.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    z-index: 20;
    right: 0px; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 10px;
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*border-radius: 4px;*/
    /*opacity: 1;
    filter: alpha(opacity = 1);*/
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    background: rgba(255,255,255,.25);
    display: none;
}

.ps-container:hover .ps-scrollbar-y-rail,
.ps-container.hover .ps-scrollbar-y-rail {
    opacity: 1;
    filter: alpha(opacity = 100);
}

.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover {
    background-color: rgba(255,255,255,.25);
    opacity: 1;
    filter: alpha(opacity = 100);
}

.ps-container .ps-scrollbar-y-rail.in-scrolling {
    background-color: rgba(255,255,255,.25);
    opacity: 1;
    filter: alpha(opacity = 100);
}

.ps-container .ps-scrollbar-x {
    position: absolute; /* please don't change 'position' */
    z-index: 20;
    bottom: 1px; /* there must be 'bottom' for ps-scrollbar-x */
    height: 6px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-x {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,
.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
    /*background-color: rgba(255,255,255,.25);*/
}

.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    z-index: 20;
    right: 1px; /* there must be 'right' for ps-scrollbar-y */
    width: 8px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-y {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: #fff;
}

.ps-container.ie .ps-scrollbar-x,
.ps-container.ie .ps-scrollbar-y {
    visibility: hidden;
}

.ps-container.ie:hover .ps-scrollbar-x,
.ps-container.ie:hover .ps-scrollbar-y,
.ps-container.ie.hover .ps-scrollbar-x,
.ps-container.ie.hover .ps-scrollbar-y {
    visibility: visible;
}
